<!-- La view listar artículos -->
<section data-ng-controller="EmpresasController" data-ng-init="find()">
	<div class="txt-center">
		<h1>Buscador de Transportes</h1>
	</div>
	<!-- Inicio Buscadores-->
        <div class="well well-sm">
        	<div class="row">
        		<div class="col-md-4">
        			<div class="input-group">
		      			<input type="text" class="form-control" placeholder="Buscar por nombre..." data-ng-model="nameSearch">
		      			<span class="input-group-btn">
		        			<button class="btn btn-default" type="button">Buscar</button>
		     			</span>
		    		</div><!-- /input-group -->
        		</div>
        		<div class="col-md-4">
        			<div class="input-group">
		      			<input type="text" class="form-control" placeholder="Buscar por localidad..." data-ng-model="locSearch">
		      			<span class="input-group-btn">
		        			<button class="btn btn-default" type="button">Buscar</button>
		      			</span>
		    		</div><!-- /input-group -->
        		</div>
        		<div class="col-md-4">
        			<div class="input-group">
		      			<input type="text" class="form-control" placeholder="Buscar por provincia..." data-ng-model="provSearch">
		      			<span class="input-group-btn">
		        			<button class="btn btn-default" type="button">Buscar</button>
		      			</span>
		    		</div><!-- /input-group -->
        		</div>
        	</div>
        </div>
	<!-- Fin Buscadores-->
	
	<!-- Inicio Lista Empresas-->	
	<div class="row">
		<div class="col-md-12">
			<div class="list-group" data-ng-repeat="empresa in empresas | myFilter: { nombre: nameSearch, localidad: locSearch, provincia: provSearch }">
				
		    		<div class="row list-group-item">
		    			<div class="col-md-3">
		    			<p Class="item-name"><strong>{{empresa.nombre}}</strong><p>
		    			</div>
						<div class="col-md-3">
		    				<strong> Web: </strong><a href="http://{{empresa.web}}" target="blank">{{empresa.web}}</a>
		    			</div>
		    			<div class="col-md-3">
		    				<p><strong>Teléfono:</strong>{{empresa.telefono}}</p>
		    			</div>
		    			<div class="col-md-3">
		    				<a class="btn btn-success" data-ng-href="#!/empresas/{{empresa._id}}">Ver más..</a>
		    				
		    			</div>
		    		</div>
		  
			</div>
		</div>
	</div>
	<!-- Fin Lista Empresas-->

</section>