<!-- La view listar artículos -->
<section data-ng-controller="EmpresasController" data-ng-init="find()">
	<div class="title">
		<h1>Buscador de Transportes de Carga</h1>
	</div>
	
	
		<div class="row">
		  <div class="col-md-6 col-md-offset-3">
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="Buscar por nombre..." data-ng-model="nameSearch">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Buscar</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-9 -->
		</div><!-- /.row -->
		<br>
		<div class="row">
		  <div class="col-md-6 col-md-offset-3">
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="Buscar por localidad..." data-ng-model="locSearch">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Buscar</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-9 -->
		</div><!-- /.row -->
		<br>
		<div class="row">
		  <div class="col-md-6 col-md-offset-3">
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="Buscar por provincia..." data-ng-model="provSearch">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Buscar</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-9 -->
		</div><!-- /.row -->
	<br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="list-group" data-ng-repeat="empresa in empresas | filter: { nombre: nameSearch, localidad: locSearch, provincia: provSearch }">
		  		<a href="#" class="list-group-item">
		    		<h4 class="list-group-item-heading">{{empresa.nombre}}</h4>
		    		<p>{{empresa.telefono}}</p>
		    		<p>{{empresa.web}}</p>
		    		<p class="list-group-item-text" data-ng-repeat="sucursal in empresa.sucursales" >{{sucursal.direccion}}</p>
		  		</a>
			</div>
		</div>
	</div>

</section>