<!-- Crear la View Articles -->
<section data-ng-controller="EmpresasController">
	<h1 class="txt-center">Crear Empresa</h1>


	<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
	<form data-ng-submit="create()" novalidate class="form-horizontal">
	 
	  <div class="form-group">
	    <label for="nombre" class="col-sm-2 control-label"> Empresa</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" data-ng-model="nombre" id="nombre" placeholder="Nombre" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="telefono" class="col-sm-2 control-label">Teléfono</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" data-ng-model="telefono" id="telefono" placeholder="Teléfono Principal" required>
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="pagina" class="col-sm-2 control-label">Web</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" data-ng-model="web" id="web" placeholder="Página Web" required >
	    </div>
	  </div>
	   <h3>Seleccionar Tipo de Servicio Prestado</h3>
	  <div class="row">
    	<div class="col-sm-10">
      		<div class="checkbox" ng-repeat="servicio in servicios">
        		<label>
          			<input id="{{servicio}}" type="checkbox" value="{{servicio}}" ng-checked="selection.indexOf(servicio) > -1" ng-click="toggleSelection(servicio)"> {{servicio}}
        		</label>
      		</div>
       </div>
  	  </div>
	  <br>

	  <!--Carga de Sucursales -->
		
		<h3>Cargar sucursales</h3>
  	<ul id="myTabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#SucCentral" id="SucCentral-tab" role="tab" data-toggle="tab" aria-controls="SucCentral" aria-expanded="false">Sucursal (Central)</a></li>
      <li role="presentation" class=""><a href="#Suc2" role="tab" id="Suc2-tab" data-toggle="tab" aria-controls="Suc2" aria-expanded="false">Sucursal 2</a></li>
      <li role="presentation" class=""><a href="#Suc3" role="tab" id="Suc3-tab" data-toggle="tab" aria-controls="Suc3" aria-expanded="false">Sucursal 3</a></li>
      <li role="presentation" class=""><a href="#Suc4" role="tab" id="Suc4-tab" data-toggle="tab" aria-controls="Suc4" aria-expanded="false">Sucursal 4</a></li>
     
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="SucCentral" aria-labelledby="SucCentral-tab">
        <div class="form-group">
			    <label for="direccion" class="col-sm-2 control-label">Dirección:</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" data-ng-model="direccionSuc" id="direccion" placeholder="Dirección Sucursal (Central)" required>
			   </div>
			   </div>

			   <div class="form-group">
			    <label for="telefonoSuc" class="col-sm-2 control-label">Teléfono:</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" data-ng-model="telefonoSuc" id="telefonoSuc" placeholder="Teléfono Sucursal (Central)" required>
			   </div>
			   </div>
				
				<div class="form-group">
					<label for="provinciaSuc" class="col-sm-2 control-label">Provincia:</label>
					<div class="col-sm-10">
			   		<select class="form-control" name="provinciaSuc" id="provinciaSuc" data-ng-model="provinciaSuc">
						<option ng-repeat="localidad in localidades | unique:'provincia'" value="{{localidad.provincia}}">{{localidad.provincia}}</option>
						
					</select>
					</div>
				</div>
				<div class="form-group">
					<label for="localidadSuc" class="col-sm-2 control-label">Localidad:</label>
					<div class="col-sm-10">
			   		<select class="form-control" name="localidadSuc" id="localidadSuc" data-ng-model="localidadSuc">
			   			<optgroup ng-repeat="localidad in localidades | unique:'provincia'" label="{{localidad.provincia}}">
							<option ng-repeat="local in localidades | filter: { provincia: localidad.provincia }" value="{{local.nombre}}">{{local.nombre}}</option>
						</optgroup>
					</select>
					</div>
				</div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="Suc2" aria-labelledby="Suc2-tab">
       <div class="form-group">
			    <label for="direccion2" class="col-sm-2 control-label">Dirección:</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" data-ng-model="direccionSuc2" id="direccion2" placeholder="Dirección Sucursal (2)" required>
			   </div>
			   </div>

			   <div class="form-group">
			    <label for="telefonoSuc2" class="col-sm-2 control-label">Teléfono:</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" data-ng-model="telefonoSuc2" id="telefonoSuc2" placeholder="Teléfono Sucursal (2)" required>
			   </div>
			   </div>
				
				<div class="form-group">
					<label for="provinciaSuc2" class="col-sm-2 control-label">Provincia:</label>
					<div class="col-sm-10">
			   		<select class="form-control" name="provinciaSuc2" id="provinciaSuc2" data-ng-model="provinciaSuc2">
						<option ng-repeat="localidad in localidades | unique:'provincia'" value="{{localidad.provincia}}">{{localidad.provincia}}</option>
					</select>
					</div>
				</div>
				<div class="form-group">
					<label for="localidadSuc2" class="col-sm-2 control-label">Localidad:</label>
					<div class="col-sm-10">
			   		<select class="form-control" name="localidadSuc2" id="localidadSuc2" data-ng-model="localidadSuc2">
						<optgroup ng-repeat="localidad in localidades | unique:'provincia'" label="{{localidad.provincia}}">
							<option ng-repeat="local in localidades | filter: { provincia: localidad.provincia }" value="{{local.nombre}}">{{local.nombre}}</option>
						</optgroup>
					</select>
					</div>
				</div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="Suc3" aria-labelledby="Suc3-tab">
       <div class="form-group">
			    <label for="direccion3" class="col-sm-2 control-label">Dirección:</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" data-ng-model="direccionSuc3" id="direccion3" placeholder="Dirección Sucursal (3)" required>
			   </div>
			   </div>

			   <div class="form-group">
			    <label for="telefonoSuc3" class="col-sm-2 control-label">Teléfono:</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" data-ng-model="telefonoSuc3" id="telefonoSuc3" placeholder="Teléfono Sucursal (3)" required>
			   </div>
			   </div>
				
				<div class="form-group">
					<label for="provinciaSuc3" class="col-sm-2 control-label">Provincia:</label>
					<div class="col-sm-10">
			   		<select class="form-control" name="provinciaSuc3" id="provinciaSuc3" data-ng-model="provinciaSuc3">
						<option ng-repeat="localidad in localidades | unique:'provincia'" value="{{localidad.provincia}}">{{localidad.provincia}}</option>
					</select>
					</div>
				</div>
				<div class="form-group">
					<label for="localidadSuc3" class="col-sm-2 control-label">Localidad:</label>
					<div class="col-sm-10">
			   		<select class="form-control" name="localidadSuc3" id="localidadSuc3" data-ng-model="localidadSuc3">
						<optgroup ng-repeat="localidad in localidades | unique:'provincia'" label="{{localidad.provincia}}">
							<option ng-repeat="local in localidades | filter: { provincia: localidad.provincia }" value="{{local.nombre}}">{{local.nombre}}</option>
						</optgroup>
					</select>
					</div>
				</div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="Suc4" aria-labelledby="Suc4-tab">
       <div class="form-group">
			    <label for="direccion4" class="col-sm-2 control-label">Dirección:</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" data-ng-model="direccionSuc4" id="direccion4" placeholder="Dirección Sucursal (4)" required>
			   </div>
			   </div>

			   <div class="form-group">
			    <label for="telefonoSuc4" class="col-sm-2 control-label">Teléfono:</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" data-ng-model="telefonoSuc4" id="telefonoSuc4" placeholder="Teléfono Sucursal (4)" required>
			   </div>
			   </div>
				
				<div class="form-group">
					<label for="provinciaSuc4" class="col-sm-2 control-label">Provincia:</label>
					<div class="col-sm-10">
			   		<select class="form-control" name="provinciaSuc4" id="provinciaSuc4" data-ng-model="provinciaSuc4">
						<option ng-repeat="localidad in localidades | unique:'provincia'" value="{{localidad.provincia}}">{{localidad.provincia}}</option>
					</select>
					</div>
				</div>
				<div class="form-group">
					<label for="localidadSuc4" class="col-sm-2 control-label">Localidad:</label>
					<div class="col-sm-10">
			   		<select class="form-control" name="localidadSuc4" id="localidadSuc4" data-ng-model="localidadSuc4">
						<optgroup ng-repeat="localidad in localidades | unique:'provincia'" label="{{localidad.provincia}}">
							<option ng-repeat="local in localidades | filter: { provincia: localidad.provincia }" value="{{local.nombre}}">{{local.nombre}}</option>
						</optgroup>
					</select>
					</div>
				</div>
      </div>
      
    </div>
	<br>
	<!-- Inicio Mapa-->
	<div class="row">
		<div class="col-md-12">
			<my-directive id="map">
				
			</my-directive>
			

		</div>
	</div>



	
		
		<!-- El elemento mensaje de error -->
		<div class="alert alert-danger" role="alert" data-ng-show="error">
  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  		<span class="sr-only">Error:</span>
  			<span data-ng-bind="error"></span>
		</div>

	  <div class="btn-group btn-group-justified" role="group">
	  	<div class="btn-group" role="group">
      		<button type="submit" class="btn btn-success" role="button">Guardar</button>
      	</div>
      		<a href="/" class="btn btn-primary" role="button">Cancelar</a>
      </div>
		
	</form>
	<div class="col-md-3">
	</div>
	
	</div>
</section>