<!-- La view editar artículo -->
<section data-ng-controller="EmpresasController" data-ng-init="findOne()">
	<h1>Ediar Empresa</h1>
	<!-- Formulario editar artículo -->
	<form data-ng-submit="update()" novalidate>
		<div>
			<label for="titulo">Nombre</label>
			<div>
				<input type="text" data-ng-model="empresa.nombre" id="nombre" placeholder="Nombre" required>
			</div>
		</div>
		<div>
			<label for="provincia">Provincia</label>
			<div>
				<select name="provincia" data-ng-model="empresa.provincia" id="provincia">
					<option value="Córdoba">Córdoba</option>
  					<option value="Santa Fe">Santa Fe</option>
 				 	<option value="Bs As">Bs As</option>
  					<option value="San Juan">San Juan</option>
				</select>
				
			</div>
		</div>
		<div>
			<label for="localidad">Localidad</label>
			<div>
				<select name="localidad" data-ng-model="empresa.localidad" id="localidad">
					<option value="Cañada de Gómez">Cañada</option>
  					<option value="Río Segundo">Río Segundo</option>
 				 	<option value="Campana">Campana</option>
  					<option value="Ullum">Ullum</option>
				</select>
				
			</div>
		</div>
		
		<div>
			<input type="submit" value="Actualizar">
		</div>
		<!-- El elemento mensaje error -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
	</div>
</section>