<!-- Crear la View Articles -->
<section data-ng-controller="LocalidadesController">
	<h1>Nueva Localidad</h1>
	<!-- El formulario nuevo artículo -->
	<form data-ng-submit="create()" novalidate>
		<div>
			<label for="nombre">Nombre</label>
			<div>
				<input type="text" data-ng-model="nombre" id="nombre" placeholder="Nombre" required>
			</div>
		</div>
		<div>
			<label for="provincia">Provincia</label>
			<div>
				<select name="provincia" data-ng-model="provincia" id="provincia">
					<option value="San Juan">San Juan</option>
					<option value="Córdoba">Córdoba</option>
					<option value="Santa Fe">Santa Fe</option>
					<option value="Mendoza">Mendoza</option>
					<option value="La Rioja">La Rioja</option>
					<option value="Buenos Aires">Buenos Aires</option>
					<option value="Jujuy">Jujuy</option>
					<option value="Entre Ríos">Entre Ríos</option>
					<option value="Chubut">Chubut</option>
					<option value="Santiago del Estero">Santiago del Estero</option>
					<option value="Tierra del Fuego">Tierra del Fuego</option>
					<option value="Santa Cruz">Santa Cruz</option>
				</select>
				
			</div>
		</div>
		
		<div>
			<input type="submit">
		</div>
		<!-- El elemento mensaje de error -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</section>