<!-- La view editar artículo -->
<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<h1>Ediar Artículo</h1>
	<!-- Formulario editar artículo -->
	<form data-ng-submit="update()" novalidate>
		<div>
			<label for="titulo">Titulo</label>
			<div>
				<input type="text" data-ng-model="article.titulo" id="titulo" placeholder="Titulo" required>
			</div>
		</div>
		<div>
			<label for="contenido">Contenido</label>
			<div>
				<textarea data-ng-model="article.contenido" id="contenido" cols="30" rows="10" placeholder="Contenido"></textarea>
			</div>
		</div>
		<div>
			<input type="submit" value="Actualizar">
		</div>
		<!-- El elemento mensaje error -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
	</div>
</section>