<!-- La view listar artículos -->
<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<h1>Artículos</h1>
	<ul>
		<!-- La lista de artículos -->
		<li data-ng-repeat="article in articles">
			<a data-ng-href="#!/articles/{{article._id}}" data-ng-bind="article.titulo"></a>
			<br>
			<small data-ng-bind="article.creado | date:'medium'"></small>
			<small>/</small>
			<small data-ng-bind="article.creador.fullName"></small>
			<p data-ng-bind="article.contenido"></p>
			<!-- Mostrar los botones de edición para artículo creado -->
    <p data-ng-show="authentication.user._id == article.creador._id">
        <a href="/#!/articles/{{article._id}}/edit">editar</a>
        <a href="/#!/articles/{{article._id}}" data-ng-click="delete();">borrar</a>
    </p>
		</li>
	</ul>
	<!-- Si no hay artículos en la lista, sugire al usuario que cree un nuevo artículo -->
	<div data-ng-hide="!articles || articles.length">
		Aún no hay artículos, porque no creas <a href="/#!/articles/create">el primero</a>?
	</div>
</section>